.cards {
    display: flex;
}

.card {
    flex: 1 1 auto;
    margin: 10px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.card-body {
    height: 250px;
    background-size: cover;
    color: white;
    position: relative;
}

.card-description {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}

div {
    display: block;
}
